#content {
	background: #fff;
	background-image: none;
}
.contentInner {
	width: 850px;
	margin: 0 auto;
}
.contentInner .blogLeft {
	width: 533px;
	float: left;
}
.contentInner .blogRight {
	width: 305px;
	float: right;
}
.contentInner>h3 {
	color: #8bc541;
	font-family: Designosaur-regular;
	font-size: 30px;
	line-height: 80px;

}
.contentInner .divider {
	height: 1px;
	background: #b3b3b3;
	clear: both;
}
.blogtag {
	margin-top: 22px;
	padding-left: 11px;
	color: #fff;
}
.blogtag p{
	line-height: 21px;
}
.blogsearch {
	background: url(../media/images/blog_03.png) repeat-x;
	width: 520px;
	height: 33px;
	margin-top: 18px;
	position: relative;
	
}
.blogsearch .btnsearch {
	background: url(../media/images/blog_bttn.png) no-repeat;
	width: 11px;
	height: 11px;
	top: 2px;
	right: 20px;
	border: 0;
	position: absolute;
}
.blogsearch input {
	margin-left: 297px;
	width: 167px;
	height: 15px;
	font-size: 10px;
	padding-left: 3px;
	margin-top: 9px;
}
.blogtag {
	background: #0076b7;
	width: 156px;
	height: 24px;
}
.blogtitle {
	width: 424px;
	margin-top: 15px;
	margin-bottom: 8px;
}
.blogtitle h3 {
	font-family: candarab;
	color: #666666;
	font-size: 17px;
}
.blogtitle p {
	font-family: HelveticaLTStd-Obl;
	font-size: 12px;
}
.blogbody {
	margin-top: 17px;
	margin-bottom: 48px;
}
.blogbody  img {
	float: left;
	margin-right: 17px;
	margin-bottom: 40px;
}
.blogbody p {
	font-size: 12px;
	font-family: HelveticaLTStd-Roman;
}
.category {
	margin-bottom: 13px;
	margin-top: 5px;
}
.category p {
	font-size: 12px;
	font-family: HelveticaLTStd-Obl;
	line-height: 20px;
}
.category a {
	color: #71bb59;
	text-decoration: none;
	
}
.category h5 {
	font-family: Helveticab;
	color: #666666;
	font-size: 14px;
}
.leave h5 {
	font-family: Helveticab;
	color: #666666;
	font-size: 14px;
}
.leave p, .leave input {
	float: left;
}

.name {
	clear: both;
	padding: 10px 0;
}
.name p {
	width: 240px;
	font-size: 12px;
	font-family: HelveticaLTStd-Obl;
}
.name input {
	height: 19px;
}
.leave>input {
	width: 100%;
	height: 161px;
	margin: 16px 0 0 0;
	
}
.leave>input:last-child {
	background: url(../media/images/blog_submit_on.png) no-repeat;
	width: 141px;
	height: 36px;
	float: right;
	border: 0;
	margin-top: 18px;
	margin-bottom: 20px;
}
.leave>input:last-child:hover {
	background: url(../media/images/blog_submit_hover.png) no-repeat;
}
.blogLeft>a {
	color: #71bb59;
	font-size: 12px;
	font-family: HelveticaLTStd-Obl;
	line-height: 30px;
	text-decoration: none;
}
.blogLeft .blogshare {
	float: right;
}
.blogshare >img {
	float: left;
}
.blogshare >img:nth-child(2), .blogshare >img:nth-child(4){
	padding-left: 5px;
}
.blogshare .number {
	background: url(../media/images/blog_number.png) no-repeat;
	width: 19px;
	height: 18px;
	float: left;
}
.number p{
	font-size: 7px;
	margin-top: 5px;
	margin-left: 7px;
	color: #adadad;
}
.divider3 {
	width: 100%;
	height: 8px;
	background: #cccccc;
	margin-bottom: 48px;
}
.lorem {
	width: 280px;
	margin-top: 19px;
	
}
.lorem  ul li {
	background: url(../media/images/blog_10.png) repeat-x;
	height: 29px;
	padding-left: 15px;
	border-top: 1px solid #74a453;
	line-height: 28px;
	color: #fff;
	position: relative;
	font-family: candara;
}
.lorem  ul li:hover {
	background: url(../media/images/blog_07.png) repeat-x;
}
.lorem  ul li:first-child {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.lorem  ul li:last-child{
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.lorem  ul li  input {
	position: absolute;
	background: url(../media/images/blog_accept.png) no-repeat;
	width: 11px;
	height: 11px;
	top: 7px;
	right: 9px;
	border: 0px;
}
.contactus {
	margin-top: 36px;
}
.contactus h3 {
	font-family: HelveticaLTStd-Obl;
	font-size: 14px;
	color: #666666;
	line-height: 30px;
}
.contactus h5 , .contactus p{
	font-family: HelveticaLTStd-Roman;
	font-size: 12px;
	color: #666666;
}
.contactus p {
	color: #76bb46;
}