#content1 {
	background: #fff url("../media/images/faq_03.png") repeat-x;
	height: 17px;
}
#content2 {
	height: auto;
	min-height: 817px;
	padding: 0;
}
#content11 {
	width: 939px;
	margin: 0 auto;
	margin-top: 27px;
}
#content2 .content2Inner {
	width: 822px;
	margin: 0 auto;
}
#content2 .content2Inner .content21 {
	width: 100%;
	margin-right: 0px;
	margin-top:20px;
}
#content2 .content2Inner .content21 h3{
	font-size: 20px;
	color: #3394cd;
	font-family: candarab;
}
#content2 .content2Inner .content22 {
	clear: both;
	padding-top: 60px;
	min-height: 300px;
}
#content2 .content2Inner .content22 .addcart{
	background: url("../media/images/pricing_02.png") no-repeat;
	width: 137px;
	height: 263px;
	text-align: center;
	float: left;
	position: relative;
	z-index: 1;
}
#content2 .content2Inner .content22 .addcart:hover {
	background: url("../media/images/pricing_03.png") no-repeat;
	width: 172px;
	height: 325px;
	margin: -32px -17px 0 -18px;
	z-index: 2;
}
#content2 .content2Inner .content22 .addcart:hover h6 {
	line-height: 52px;
	font-size: 14px;
}
#content2 .content2Inner .content22 .addcart:hover p {
	font-size: 50px;
}
#content2 .content2Inner .content22 .addcart:hover img {
	margin-top: 25px;
	width: 12px;
}
#content2 .content2Inner .content22 .addcart:hover img:last-child {
	width: 132px;
}
/*#content2 .content2Inner .content22 .addcart1 {
	background: url("../media/images/pricing_03.png") no-repeat;
	height: 325px;
	margin-top: -24px;
}
#content2 .content2Inner .content22 .addcart .addcart1h6 {
	line-height: 52px;
	font-size: 14px;
}
#content2 .content2Inner .content22 .addcart .addcart1h6 {
	line-height: 52px;
	font-size: 14px;
}*/
#content2 .content2Inner .content22 .addcart h6 {
	color: #fff;
	line-height: 44px;
	font-size: 12px;
}
#content2 .content2Inner .content22 .addcart p {
	color: #fff;
	font-size: 36px;
}
#content2 .content2Inner .content22 .addcart img {
	display: block;
	text-align: center;
	width: 10px;
	margin: 0 auto;
	margin-top: 21px;
}
#content2 .content2Inner .content22 .addcart img:last-child {
	width: 107px;
}
#content2 .content2Inner .content23 {
	clear: both;
	padding-top: 50px;
}
#content2 .content2Inner .content23 .content23Left {
	width: 294px;
	float: left;
}
#content2 .content2Inner .content23 h3 {
	font-size: 20px;
	color: #666666;
	font-family: candarab;
	margin-bottom: 8px;
}
#content2 .content2Inner .content23 h4 {
	color: #999999;
	font-family: candarab;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 8px;
}
#content2 .content2Inner .content23 p {
	color: #666666;
	font-family: candara;
	font-size: 15px;
}
#content2 .content2Inner .content23 .content23Right {
	width: 528px;
	float: left;
}